.sb-con {
  width: 60%;
  /* height: 56px; */
  padding: 10px;
  border: 1px solid #db9d4a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
}

.sb-con:hover {
  background-color: #db9d4a;
  color: #fff;
}

.sb-context {
  /* font-family: "Inter"; */
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  /* color: #ffffff; */
}
